*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding-left: 25px;
    padding-top: 50px;
    height: 100px;
    background-color: blue;
    background-image: url("./img/pattern.png");
    background-size: 300px;
}
main{
    padding: 1rem;
}
.pattern{
    background: repeat-x;
    width: 140px;    
}

.logo{
    width: 140px;
}

h4{
    color: gray;
}
.boolean{
    color: blue;
}
.date{
    color: grey;
}
.photo{
    padding: 1rem;
}
article{
    padding: 1rem;
}
ul{
    padding: 1rem;
}
thead{
    background-color: blue;
}
.row1{
    background-color: aquamarine;
}
.row3{
    background-color: aquamarine;
}
.paragrafo2{
    padding-top: 1rem;
}
footer{
    padding-left: 2rem;
}
.title{
    padding-left: 1rem;
}
h4{
    padding-bottom: 1rem;
}
span{
    color: grey;
}
.w25{
    width: 25%;
}
w50{
    width: 50%;
}
.monitor{
    width: 312px;
    height: 208px;
    background-image: url(./img/monitor.jpg);
}
.grafico{
    width: 311px;
    height: 207px;
    background-image: url(./img/graph.jpg);
}